body {
  background: #EFEFEF;
}

.container{
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type='text']{
  outline: none;
  border: none;
  padding: 10px 15px;
  width: 500px;
  font-size: 16px;
  border-radius: 40px;
  border: 1px solid #355CBF;
  color: #355CBF;
}

.header-text{
  text-align: center;
}

.header-text span {
  color: #355CBF;
}

button[type='submit']{
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid #0275d8;
  cursor: pointer;
  background: #0275d8;
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  
}

@media screen and (max-width: 1226px){
input[type='text']{
  width: 70%
}
}

@media screen and (max-width: 743px){

.btn-submit{
  margin-top: 10px;
}
}